* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
}















/* footer design */
footer {
    display: flex;
    text-align: center;
    padding: 1rem;
    color: #000000;
    align-items: center;
    gap: 10px;
}

footer a svg {
    fill: #000000;
    transition: transform 0.2s ease;
}

footer a:hover svg {
    transform: scale(1.1);
    fill: rgb(0, 0, 0);
}